#.DS_Store
#/.packages
#/.dart_tool
#/example/ios/Podfile.lock
.idea/flutter_openim_sdk.iml
.idea/flutter_openim_sdk.iml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Dart_SDK.xml
.idea/flutter_openim_sdk.iml
.idea/misc.xml
